<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<meta charset="UTF-8">
<title>Statistics</title>
<script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
</head>
<body class="bg-light">
	<div th:replace="fragments.html :: main-nav"></div>

	<div class="container">
		<div class="row">
			<div class="input-group">
				<select class="col" id="accountType"
					aria-label="Search">
					<option selected value="">Choose</option>
					<option th:each="accountType : ${accountTypes}"	
					th:value="${accountType}" th:text="${accountType.fullName}"></option>
				</select> 				
				<input type="text" class="col" id="accountName" aria-label="Search" placeholder="accountName"> 					
				<input type="datetime-local" class="col" id="from" aria-label="Search" /> 					
				<input type="datetime-local" class="col" id="to" aria-label="Search" />
					
				<button class="btn btn-outline-secondary col-sm" type="button" onclick="search()">Search</button>
			</div>
		</div>
		<div id="errorMessage"></div>
	</div>
	
	<div id="statistics" th:if="${accountName}">
		<div id="summery">
			<h1 id="accountName" th:text="${accountName}"></h1>
			<h1 id="accountTypeFullName" th:text="${accountTypeFullName}"></h1>
			<form th:action="@{/account/update}" method="post">
				<input type="text" id="accountName" th:value="${accountName}">
				<input type="text" id="accountType" th:value="${accountType}">
				<button type="submit" id="update">update</button>
			</form>
		</div>

		<div id="chartContainer" class="chart-container"
			style="position: relative; height: 70vh; width: 70vw;">
			<canvas id="chart"></canvas>
		</div>
	</div>

	<div class="fragments.html :: footer"></div>

	<script type="application/javascript">
	
	</script>

	<script type="application/javascript">				
		function search(){
			var from = document.getElementById('from').value;
			var to = document.getElementById('to').value;
			var accountType = document.getElementById('accountType').value;
			var accountName =  document.getElementById('accountName').value;
			
			var errorMessage = document.getElementById('errorMessage');
			errorMessage.innerHTML = '';
			
			var url = location.origin + '/statistics/figure?' + 
					'from=' + from + 
					'&to=' + to + 
					'&accountType=' + accountType + 
					'&accountName=' + accountName;
			
			fetch(url)
				.then((response) => {
					if (!response.ok){
			            response.json().then(data =>{
			            	errorMessage.innerHTML = data.error;			            	
			            })	
			            throw new Error('HTTP status' + response.status);
					}
		            return response.json();
				})
			    .then(response => {
					//그래프 그리기
			    	drawChart(response.figure);
			    })			    
			    .catch(error => {
			    	
			    });						
    	}    	

		function drawChart(figure){
			var ctx = document.getElementById('chart');
			
			var myChart = new Chart(ctx, {
			    type: 'bar',
			    data: {
			    	labels: figure.labels,
			        datasets: [{
			            label: 'Seconds',
			            data: figure.datas,
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
		}
	</script>
</body>
</html>