<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<meta charset="UTF-8">
<title>Statistics</title>
<script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
</head>
<body class="bg-light">
	<div th:replace="fragments.html :: main-nav"></div>

	<div class="container">
		<div class="row">
			<div class="input-group">
				<select class="col" id="accountType"
					aria-label="Search">
					<option selected value="">Choose</option>
					<option th:each="accountType : ${accountTypes}"	
					th:value="${accountType}" th:text="${accountType.fullName}"></option>
				</select> 				
				<input type="text" class="col" id="accountName" aria-label="Search" placeholder="accountName"> 					
				<input type="datetime-local" class="col" id="from" aria-label="Search" /> 					
				<input type="datetime-local" class="col" id="to" aria-label="Search" />
					
				<button class="btn btn-outline-secondary col-sm" type="button" onclick="search()">Search</button>
			</div>
		</div>
		<div id="errorMessage"></div>
	</div>
	
	<div id="statistics">
		<div id="summery">
			<h1 id="accountName" th:text="${accountName}"></h1>
			<h1 id="accountTypeFullName" th:text="${accountTypeFullName}"></h1>
			
			<span id ="searchedAccountName"> </span>
			<span id ="searchedAccountType"> </span>
			<button type="button" id="update" onclick="update()">update</button>
			
		</div>

		<div id="chartContainer" class="chart-container"
			style="position: relative; height: 70vh; width: 70vw;">
			<canvas id="chart"></canvas>
		</div>
	</div>

	<div class="fragments.html :: footer"></div>

	<script type="application/javascript">
	
	</script>

	<script type="application/javascript">				
		function search(){
			var from = document.getElementById('from').value;
			var to = document.getElementById('to').value;
			var accountType = document.getElementById('accountType').value;
			var accountName =  document.getElementById('accountName').value;
			
			var errorMessage = document.getElementById('errorMessage');
			errorMessage.innerHTML = '';
			
			var url = location.origin + '/statistics/figure?' + 
					'from=' + from + 
					'&to=' + to + 
					'&accountType=' + accountType + 
					'&accountName=' + accountName;
			
			fetch(url)
				.then((response) => {
					if (!response.ok){
			            response.json().then(data =>{
			            	errorMessage.innerHTML = data.error;			            	
			            })	
			            throw new Error('HTTP status' + response.status);
					}
		            return response.json();
				})
			    .then(response => {
					//그래프 그리기
			    	drawChart(response.figure);
					//결과 화면 그리기
			    	document.getElementById('searchedAccountName').innerHTML = accountName;
			    	document.getElementById('searchedAccountType').innerHTML = accountType;
			    })			    
			    .catch(error => {
			    	
			    });						
    	}    	

		function drawChart(figure){
			
			if(figure.totalData == 0){
				var errorMessage = document.getElementById('errorMessage');
				errorMessage.innerHTML = '';
				errorMessage.innerHTML = '데이터가 없습니다.';
				return;
			}
			
			var ctx = document.getElementById('chart');
			
			var myChart = new Chart(ctx, {
			    type: 'bar',
			    data: {
			    	labels: figure.labels,
			        datasets: [{
			            label: 'Seconds',
			            data: figure.datas,
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
		}
		
		function update(){
			var accountType = document.getElementById('searchedAccountType').innerHTML;
			var accountName =  document.getElementById('searchedAccountName').innerHTML;
			
			var errorMessage = document.getElementById('errorMessage');
			errorMessage.innerHTML = '';
			
			var url = location.origin + '/account/update?' + 
					'accountType=' + accountType + 
					'&accountName=' + accountName;
			
			fetch(url)
				.then((response) => {
					if (!response.ok){
			            response.json().then(data =>{
			            	errorMessage.innerHTML = data.error;			            	
			            })	
			            throw new Error('HTTP status' + response.status);
					}
		            return response.json();
				})
			    .then(response => {
			    })			    
			    .catch(error => {
			    	
			    });		
		}
	</script>
</body>
</html>