<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<meta charset="UTF-8">
<title>Statistics</title>
    <script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
</head>
<body class = "bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    
	<div class="container">   
		<form th:action="@{/statistics/figure}" method="get">
		    <div class="row">    
				<div class="input-group">
						<select class="form-select col" name="accountType" aria-label="Search">
							<option selected value="">Choose</option>
							<option th:each="accountType : ${accountTypes}" 
									th:value="${accountType}"
									th:text="${accountType.fullName}"></option>
						</select>				
						<input type="text" class="form-control col" name="accountName" placeholder="accountName" aria-label="Search">
						<input type="date" class="form-control col" name="from" aria-label="Search"/>
						<input type="date" class="form-control col" name="to" aria-label="Search"/>
						<button class="btn btn-outline-secondary col-sm" type="submit">Search</button>
				</div>
			</div>    		
		</form>
</div>
		<div id="statistics" th:if="${accountName}">
			<div id="summery">
				<h1 id="accountName" th:text="${accountName}"></h1>
				<button id="update">update</button>		
			</div>
					
			<div id="chartContainer" class="chart-container" style="position:relative; height:70vh; width:70vw;">
				<canvas id="chart"></canvas>	
			</div>	
		</div>
		
		<div class="fragments.html :: footer"></div>	
	</div>
	
	<script th:inline="javascript">

		var figure = [[${figure}]];
		
		var ctx = document.getElementById('chart');
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		    	labels: figure.labels,
		        datasets: [{
		            label: 'Seconds',
		            data: figure.datas,
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});
	</script>
</body>
</html>